@import "../Variables/Variables.scss";

.footer {
  height: 589px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $blueColor;
  color: $whiteColor;

  a {
    text-decoration: none;
    color: $whiteColor;
  }

  .footer__section__one {
    margin-top: 51px;
    border-bottom: 1px solid #FFFFFF;
    width: 1110px;
    height: 139px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    span {
      font-weight: bold;
    }

    .footer__section__one__box__logo {
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:center;
       margin-bottom:10px;
      
    }

    .footer__logo {
      margin-bottom:30px;
    }

    .footer__menu {
      width: 344px;
      height: 17px;
    }

    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
      }
   
  }

  .footer__section__two__menu {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;

    a {
      margin-right: 20px;
    }
  }

  .footer__section__three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 80px;
    margin-top: 40px;

    h5 {
      margin-bottom: 20px;
    }

    .footer__section__two__contact {
      width: 364px;
      height: 171px;
      margin-right: 157px;
      ul {
        list-style: none;
      }

      li {
        margin-bottom: 22px;
      }
      
      span {
        margin-right:15px;
      }
    }

    .footer__section__two__type {
      width: 112px;
      height: 215px;
      margin-right: 157px;

      ul {
        list-style: none;
      }

      li {
        margin-bottom: 10px;
      }
    }

    .footer__section__two__sotial__medias {
      width: 313px;
      height: 218px;

      .footer__box__sotial__media {
        display: grid;
        grid-template-columns: auto auto;
      }

      a {
        margin-bottom: 43px;
      }

      p {
        margin-bottom: 11px;
      }

       span {
        margin-right:15px;
        font-size:25px;
      }

      input {
        width: 213px;
        height: 30px;
        border-radius: 5px 0px 0px 5px;
      }

      button {
        background: linear-gradient(
          90deg,
          #0052d4 0%,
          #4364f7 50%,
          #6fb1fc 100%
        );
        border-radius: 0px 5px 5px 0px;
        width: 80px;
        height: 30px;
        border: none;
      }
    }
  }

  .footer__section__bottom p {
    width: 769px;
    height: 24px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
